.form {
  width: 100%;
  height: 592px;
  border-radius: 6px;
  margin-top: 44px;
  padding: 40px 0;
}

.form h3 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

.form p {
  color: #aaa;
  font-feature-settings: "clig" off, "liga" off;
  font-family: IRANYekan;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

@media screen and (min-width: 800px) {
  .form {
    width: 440px;
    height: 592px;
    border-radius: 6px;
    background: #222327;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    padding: 40px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    width: 500px;
    height: 592px;
    border-radius: 6px;
    background: #222327;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    padding: 36px 70px;
  }
}
