
.app {
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  background-image: radial-gradient(at bottom, #1993ff, #121212 60%);
}

.form-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 49px;
  padding: 0 40px 100px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.btn {
  width: 96px;
  height: 42px;
  background-color: #222327;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 5px;
}

.btn:hover {
  background-color: #1993ff;
}

@media screen and (min-width: 800px) {
  .form-container {
    width: 440px;
    margin: 0 auto;
    margin-top: 49px;
    padding: 0 0 100px;
  }
}

@media screen and (min-width: 1280px) {
  .form-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 49px;
    padding: 0 0 100px;
  }
}
